{% extends "content_base.html.twig" %}

{% block title %}
    {{ Formtitle }}
{% endblock %}

{% block main %}

<p class="h1"> {% apply upper %} {{ Formtitle }} {% endapply%} </p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}