{% extends "content_base.html.twig" %}

{% block main %}
    <br>
    <h1 class="h1 text-center" >medicijnen overzicht</h1>
    <br>
    {% if is_granted('ROLE_ADMIN') %} <a class="btn btn-success" href="{{ path("admin_medication_add") }}">toevoegen</a> {% endif %}
    <table class="table table-bordered table-sm">
        <thead>
            <td>Naam</td>
            <td>Farmaceutisch bedrijf</td>
            <td>prijs</td>
            <td>versekerd </td>
            {% if is_granted('ROLE_ADMIN') %} <td> medewerker knopen </td> {% endif %}
        </thead>
        <tbody>
        {% for medication in medications %}
            <tr id="{{ medication.id }}">
                <th> {{ medication.Name }} </th>
                <th> {{ medication.PharmaceuticalCompany }}</th>
                <th> {{ medication.Price }}</th>
                <th>
                    {% if medication.Insured %}
                        ja
                    {% else %}
                        nee
                    {% endif %}
                </th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>
                    {% include '_delete_form.html.twig' with {"delete_path": "admin_medication_delete", "delete_id": medication.id} %}
                    <a href="{{ path("admin_medication_edit", { id: medication.id }) }}", class="btn btn-success"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg> </a>
                </th>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}